tomcat/StreamAlert/src/models/neural_network/NeuralNetwork.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="output">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:integer" name="ref" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="neuron">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="input" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element ref="output" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:integer" name="index" use="optional"/>
      <xs:attribute type="xs:float" name="thresh" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="input">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:integer" name="ref" use="optional"/>
          <xs:attribute type="xs:float" name="weight" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="layer">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="neuron" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="type" use="optional"/>
      <xs:attribute type="xs:integer" name="index" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="net">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="layer" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>NNet XML created with nnetgen.pl</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>